name: 'Publish CSAF Advisories'

on:
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  publish-csaf:
    runs-on: ubuntu-latest
    name: Check, Sign & Publish CSAF documents
    
    steps:
      # Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v4

      # Import PGP key from secret
      - name: Import PGP key from secret
        run: echo "${{ secrets.PGP_SIGNING_KEY }}" > private.key

      # Run csaf-action to check, sign and publish
      - name: Check, Sign and Publish CSAF advisories
        uses: csaf-tools/csaf-action@v0.2.0
        with:
          command: check,sign,publish
          advisories: 'advisories/*.json'
          key: private.key
          passphrase: ${{ secrets.PGP_PASSPHRASE }}
          branch: gh-pages
          url: https://secvisogram.github.io/csaf-validator-service
          csaf-folder: csaf
